:root{
    --color-one: #FFFFFF;
    --color-two: #1DA1F2;
    --color-three: #FFFFFF;
}

#dnaOne {
    grid-column: 1/3;
    grid-row: 1/4;
    width: 33.2vw;
    height: 100vh;
    position: relative; /* Add this to establish a positioning context */
    display: none;
    pointer-events: none;
}

#dnaOne img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    pointer-events: none;
}

#dnaOne::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, .5)); /* Adjust the colors and opacity as needed */
    pointer-events: none; /* Allows interaction with the image beneath the overlay */
}

#dnaTwo {
    grid-column: 1/3;
    grid-row: 4/7;
    width: 33.2vw;
    height: 100vh;
    position: relative; /* Add this to establish a positioning context */
    display: none;
    pointer-events: none;
}

#dnaTwo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transform: scale(-1, 1);
    pointer-events: none;
}

#dnaTwo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); /* Adjust the colors and opacity as needed */
    pointer-events: none; /* Allows interaction with the image beneath the overlay */
}

#matrix {
    grid-column: 5/7;
    grid-row: 1/7;
    width: 33.2vw;
    height: 200vh;
    position: relative; /* Add this to establish a positioning context */
    display: none;
    pointer-events: none;
}

.numbers {
    position: absolute;
    color: var(--color-two);
    writing-mode: vertical-rl;
    text-orientation: upright;
    right: 0px;
    pointer-events: none;
    font-family: 'Courier New', monospace;
}

.numbers::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, .7), rgba(255, 255, 255, 0)); /* Adjust the colors and opacity as needed */
    pointer-events: none;
}